NEXT_PUBLIC_CONVEX_URL=
SESSION_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=

NVIDIA_API_KEY=
OPENROUTER_API_KEY=

GMAIL_USER=
GMAIL_APP_PASSWORD=

TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=

MAYAR_SANDBOX=true
MAYAR_API_KEY=
MAYAR_WEBHOOK_TOKEN=
ADMIN_API_TOKEN=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
